.detailsImage {
    border: 1px solid black;
    width: 100px;
    display: block;
    margin: auto;
}
.table {
    width: 100%;
    overflow: hidden;
}
#ranktable {
    width: 100%;
}

#ranktable td{
  vertical-align: bottom;
}

.bold {
    font-weight: bold;
}
.highlightCellWithX {
    background-color: coral;
}
h1, h2 {
    font-family: "Impact";
    padding: 5px;
    text-align: center;
    font-size: 50px;
    color: #3D72A4;
}
.gold {
    background-color: gold;
}
.silver {
    background-color: silver;
}
.bronze {
    background-color: #cd7f32;
}
.last {
    background-color: pink;
}
.empty {
    background-color: pink;
}
.highlighted {
    background-color: orange;
}
table.dataTable tbody td {
    vertical-align: bottom;
}
#brandImage {
    width: 30px;
    margin-top: -6px;
}
.navbar {
    font-family: "Segoe UI";
}
.navbar-brand {
    font-size: 140%;
}
.rank-flag-img {
    width: 20px;
}
.rank-person-img {
    width: 15px;
}
.rank-kattis-img {
    width: 20px;
}
hr {
    border-top: 1px solid silver;
}
