/*=====================================
=            Global Styles            =
=====================================*/
html {
    font-family: 'Lato', sans-serif;
    font-size:14px;
    line-height: 1.2;
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

/*==================================
=            Modules            =
==================================*/

/*----------  nav bar  ----------*/
.navbar{
    border-radius: 0;
}

.navbar-inverse {
    background-color: #34465d;
}

.detailsImage {
    border: 1px solid black;
    width: 100px;
    display: block;
    margin: auto;
}
.table {
    width: 100%;
    overflow: hidden;
}
#ranktable {
    width: 100%;
}

#ranktable td{
  vertical-align: bottom;
}

.bold {
    font-weight: bold;
}
.highlightCellWithX {
    background-color: coral;
}

h1, h2 {
    text-align: center;
    color: #3D72A4;
}
.gold {
    background-color: gold;
}
.silver {
    background-color: silver;
}
.bronze {
    background-color: #cd7f32;
}
.last {
    background-color: pink;
}
.empty {
    background-color: pink;
}
.highlighted {
    background-color: orange;
}
table.dataTable tbody td {
    vertical-align: bottom;
}
#brandImage {
    width: 30px;
    margin-top: -6px;
}

.navbar-brand {
    font-size: 140%;
}
.rank-flag-img {
    width: 20px;
}
.rank-person-img {
    width: 15px;
}
.rank-kattis-img {
    width: 20px;
}
hr {
    border-top: 1px solid silver;
}
